*{
	font-family: 'Raleway', sans-serif;
  font-weight: 400;
}



/*------------index.erb homepage before login/signup-------------*/
/*forms*/

.standard_form {
  background-color: #88C9F9;
  border-radius: 10px;
  width: 200px;
  margin: 10px;
  padding: 8px;
}

form h4 {
  color: white;
  font-size: 30px;
  margin: 10px;
  border-bottom: 1px solid white;
}


input {
  display: block;
  padding: 8px;
  margin-bottom: 10px;
  margin-top: 10px;
  border-radius: 5px;
  font-size: 14px;
  vertical-align: middle;
}

.submit {
  background-color: #88C9F2;
  padding: 7px;
  border-radius: 5px;
  border: 1px solid white;
  position: relative;
  left: 130px;
  color: white;
}


