
<!-- ######################## Andrew and Charlotte -->
<div>
  <h1>Create a new Tweet!</h1>
  <form action="/tweets/new" method="post">
    <label> Tweet: </label>
    <textarea name="text"> </textarea>
    <input type="submit" value="TWEET!!!">
  </form>
</div>
<!-- ######################## Andrew and Charlotte -->