<div>
<% if current_user %>
	<p class="message">u are logged in dumbass</p>
	<a href="/logout"><button type="button">Log out!</button></a>
<% else %>
	<% if @error_message %>
		<p><%= @error_message %></p>
	<% end %>
	<form action="/login" method="post">
	    <label> Enter your email </label>
	    <input type="text" name="email" placeholder="email"></input>
	    <label> Password </label>
	    <input type="password" name="password_hash" placeholder="*****"></input>
	    <input type="submit" value="Log in!">
	</form>

	<form action="/signup" method="post">
	    <label> Enter your user handle </label>
	    <input type="text" name="handle" placeholder="handle"></input>
	    <label> Email </label>
	    <input type="text" name="email" placeholder="john@doe.com"></input>
	    <label> Password </label>
	    <input type="password" name="password_hash" placeholder="*****"></input>
	    <input type="submit" value="Sign me up">
	</form>
<% end %>
</div>