<div>
<% if current_user %>
	<p class="message">u are logged in dumbass</p>
	<a href="/logout"><button type="button">Log out!</button></a>
<% else %>
	<% if @error_message %>
		<p><%= @error_message %></p>
	<% end %>

	<form class="standard_form" action="/login" method="post">
			<h4>LOGIN</h4>
	    <input type="text" name="email" placeholder="email"></input>
	    <input type="password" name="password_hash" placeholder="*****"></input>
	    <input class="submit" type="submit" value="log in">
	</form>

	<form class="standard_form" action="/signup" method="post">
			<h4>SIGN UP</h4>
	    <input type="text" name="handle" placeholder="handle"></input>
	    <input type="text" name="email" placeholder="john@doe.com"></input>
	    <input type="password" name="password_hash" placeholder="*****"></input>
	    <input class="submit" type="submit" value="sign up">
	</form>
<% end %>
</div>