<div>
<form action="/" method="post">
    <label> Enter your user handle </label>
    <input type="text" name="handle" placeholder="handle"></input>
    <label> Email </label>
    <input type="text" name="email" placeholder="john@doe.com"></input>
    <label> Password </label>
    <input type="text" name="password_hash" placeholder="*****"></input>
    <input type="submit" value="Sign me up">
</form>
</div>